body {
    background-color: #010D09;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.logo
{
    color: white;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.login-block {
    width: 320px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    margin: 0 auto;
}

.login-block h1 {
    text-align: center;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.login-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Montserrat;
    padding: 0 20px 0 20px;
    outline: none;
}

.login-block input:active, .login-block input:focus {
    border: 1px solid #ff656c;
}

.login-block button {
    width: 100%;
    height: 40px;
    background: #ff656c;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #e15960;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
}

.login-block button:hover {
    background: #ff7b81;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

h1
{
    color: navy;
    text-align: center;
    font-size: 30px;
}

a
{
    text-decoration: none;
}

#tid
{
    color: #FF001C;
    font-size: 40px;
}

#spec
{
    color: #232C23;
    margin-top: 35%;
}

.succtext
{
    color: green;
    font-size: 30px;
    text-align: center;
    margin-top: 30%;
}

.failtext
{
    color: red;
    font-size: 30px;
    text-align: center;
    margin-top: 30%;
}

.redirect
{
    font-size: 20px;
    text-align: center;
    padding: 5px 5px 5px 5px;
    margin-left: 30%;
    margin-top: 30%;
}