body
{
	background-color: lightblue;
	font-family: 'Raleway', sans-serif;
	color: darkblue;
	font-size: 13px;
}

/*#seeprev, #logout, #seefav, input[type=submit]
{
	padding: 7px 7px 7px 7px;
	color: black;
	background-color: limegreen;
	box-sizing: border-box;
	border-radius: 20px;
	border : 2px solid limegreen;
	box-shadow: 0px 3px 3px 0px green;
}*/

/*#seeprev:hover, #logout:hover, #seefav:hover, input[type=submit]:hover
{
	padding: 7px 7px 7px 7px;
	color: black;
	font-weight: bold;
	background-color: lime;
	box-sizing: border-box;
	border-radius: 20px;
	border : 3px solid lime;
	box-shadow: none;
}*/

#rent
{
	position: absolute;
	width: 48%;
	left: 0%;
}

.input-field, #compulsory1, #optional1, #compulsory2, #optional2
{
	max-width: 30%;
}

#rent label, label, #sale label
{
	color: red;
}

#sale
{
	position: absolute;
	width: 48%;
	right: 0%;
}

input[type=submit]
{
	padding: 10px;
	color: darkblue;
	font-weight: bold;
}

input[type=file]
{
	width: 50px !important;
}

#errmsg
{
	color: red;
	font-size: 30px;
	text-align: center;
}

h4{
	margin-top: 35px;
	margin-bottom: 35px;
}

hr{
	color: black;
	border: 1px solid black;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:   blue !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:   blue !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:   blue !important;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:   blue !important;
}